@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.beginButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 10vh;
    background-color: white;
    border-radius: 5vh;
    cursor: pointer;
}
.beginButtonText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 3px;
}

#countdownText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 3px;
    color: white
}