@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1800px
}

.text {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 3px;
    display: none;
}

.img {
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    height: 70vh
}

.vid1 {
    position: absolute;
    bottom: 0;
    display: none
}
.vid2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none
}
.vid3 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 20%;
    width: 20%
}

